<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de posts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posteos.css' %}">
</head>

<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posteos.css' %}">
    <h2>Nuestra comunidad</h1>
    <section>
        {% for elemento in listado_post %}
            <article>
                <h3>{{elemento.titulo}}</h3>
                <p>
                    {{elemento.texto}}
                </p>
                <img src="{{elemento.imagen}}" alt="">
            </article>
        {% endfor %}
    </section>
    
</body>
</html>